.vscode/
.idea/
.settings/
*.txt
**/backgrounds/not-yet/

# asciidoc
build-docs/
*.double

# terraform
.terraform
*.tfstate*
kubeconfig*
terraform.tfvars

# misc
.history
tmp/
*.old
.DS_Store
.gitlab-ci-local
.glsort
*.orig
