@import "reveal-zenika-light.css";

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              center url('../backgrounds/pilat-back.jpg');
  background-size: cover, cover;
}
