@import "reveal-zenika-dark.css";

body {
  background: no-repeat 98% 5% url('../favicon.png'), 
              linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              center url('../backgrounds/code-html-pink.jpg');
  background-size: 3%, cover, cover;
}