@import "reveal-zenika-light.css";

body {
  /* https://loading.io/pattern/dust# seed=0eb88bfcddad33, count=100, direction=vertical, reverse=off, scale=0.3, speed=10, width=354, height=200 */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              no-repeat center url('../snow-slow.svg'),
              center url('../backgrounds/argentina-perito-moreno.jpg');
  background-size: cover, cover, cover;
}
