@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: "Architect's Daughter";
  src: url('fonts/ArchitectsDaughter/ArchitectsDaughter.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans Bold';
  src: url("fonts/Open_sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'OpenSans Regular';
  src: url("fonts/Open_sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Inconsolata';
  src: url("fonts/Inconsolata/Inconsolata-Regular.ttf") format("truetype");
}

/**
ZENIKA :
rouge : 179/30/62
vert : 143/189/163
noir : 70/70/70
bleu : 81/155/200
rose : 239/82/91
**/

/*********************************************
 * GLOBAL STYLES
 *********************************************/

body {
  background: no-repeat center url('./logo-zenika.png');
  background-size: 60%;
  background-color: #222
}

.reveal {
  font-family: 'Arial', sans-serif;
  font-size: 28px;
  font-weight: normal;
  color: #222;
}

.reveal .slides {
  text-align: left;
}

.reveal .slides section {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: white;
  padding: 0 70px;
}

.reveal .slides section:not([id]) {
  background: transparent;
}

.reveal .slides section[data-state="title"],
.reveal .slides section > section {
  background: white;
  padding: 0 70px;
}

.reveal .slides section > section {
  margin-left: -70px;
}

.reveal.overview .slides section {
  height: 650px;
}

.reveal .slide-background {
  background-size: contain;
}

::selection {
  background: #b30c37;
  text-shadow: none;
}

/** TABLES **/

.reveal table th, .reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal table th {
  font-weight: bold;
  color: #b30c37;
}

.reveal table tbody tr:last-child th, .reveal table tbody tr:last-child td {
  border-bottom: none;
}

.reveal .slides table.no-border,
.reveal .slides table.no-border tr td,
.reveal .slides table.no-border tr th {
  border: none;
}

/*********************************************
 * HEADERS
 *********************************************/

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6, 
.reveal h[level="3"] {
  hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  color: #b30c37;
  font-family: "OpenSans Bold", sans-serif;
  font-weight: bold;
  letter-spacing: 0.04em;
}

.reveal h1 {
  height: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  float: none;
  font-size: 60px;
}

.reveal h2,
.reveal h3 {
  margin: 0 -40px;
  padding: 40px 0 30px 20px;
  text-align: left;
  font-size: 40px;
}

/** subtitle in slide **/
.reveal h[level="3"] {
  margin: 0.8em 0 0.4em -1.2em;
  display: inline-block;
}

/** Title slide's subtitle **/
.reveal section.title h2 {
  text-align: center;
  font-style: italic;
}

/* .reveal h[level="3"]{
  margin: 0 -40px;
  padding: 40px 0 40px 20px;
  text-align: left;
  font-size: 40px;
} */

.reveal p.author {
  height: 20%;
  display: flex;
  align-items: center;
  font-size: 40px;
  justify-content: flex-end;
}

.reveal small {
  text-align: right;
}

/*********************************************
 * CONTENT
 *********************************************/

.reveal em {
  color: #b30c37;
  font-style: normal;
}

.reveal li {
  margin: 0.2em 0 0 0;
}

.reveal ul ul, .reveal ul ol, .reveal ol ol, .reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal code {
  color: #b30c37;
}

.reveal blockquote p:first-child, .reveal blockquote p:last-child {
  display: block;
}

.reveal blockquote {
  font-style: italic;
  background: #bbbbbb;
  font-weight: normal;
}

/** FONT AWESOME **/

.reveal .fa[title="Note"] {
  color: rgb(81,155,200)
}

.reveal .fa[title="Tip"] {
  text-shadow:1px 1px 2px rgba(155,155,0,.8);
  color:#111
}

.reveal .fa[title="Warning"] {
  color:#bf6900
}

.reveal .fa[title="Important"] {
  color: rgb(239,82,91)
}

.reveal .fa[title="Caution"] {
  color: #b30c37;
}


/*********************************************
 * SPECIALS PAGES
 *********************************************/

.reveal section.page-title h1 {
  height: 90%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  color: white;
  float: none;
}

.reveal section.page-title ul {
  margin-top: 620px;
}

.reveal section.page-questions {
  background: white center center no-repeat url('./images/questions.svg');
  background-size: 60%;
}

.reveal section [class^="page-tp"]:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 80%;
}
.reveal section [class^="page-tp"] {
  background: white center center no-repeat url('./images/tp.svg');
  background-size: 60%;

}
.reveal section [class^="page-tp"]:after {
  display: block;
  color: #af1e3a;
  font-size: 50px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.reveal section.page-demo {
  background: transparent center center no-repeat url('./images/demo.png');
  background-size: 50%;
}

/*********************************************
 * LINKS
 *********************************************/

.reveal a:not(.image) {
  text-decoration: none;
}

.reveal div:not(.slide-number) a:not(.image) {
  color: rgb(81,155,200);
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;
}

.reveal div:not(.slide-number) a:not(.image):hover {
  color: #b30c37;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: white;
  background: #b30c37;
}

.reveal .slides .toc a {
  color: inherit;
}

/*****************
 * SLIDES NUMBERS
 *****************/

 .reveal .slide-number {
  font-size: 18pt;
  color: #940b0b; 
  left: 8px;
  background-color: transparent;
  text-decoration: none;
}

/*********************************************
 * IMAGES
 *********************************************/

.reveal section img {
  display: block;
  margin: 30px auto;
}

.reveal section img.with-border {
  border: 1px solid black;
}

.reveal section img #questions {
  margin-top: 100px;
}

.reveal figcaption {
  text-align: center;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

.reveal .controls .enabled {
  color: #b30c37;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  height: 1%;
}

.reveal .progress span {
  background: #b30c37;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * FOOTER (style copied from reveal.css -> .reveal .slide-number)
 *********************************************/

.reveal footer, .reveal .slides footer {
  position: absolute;
  bottom: 15px;
  font-size: 12px;
  opacity: 0.5;
}

.reveal .master-toc-return {
  left: 15px;
  bottom: 15px;
  font-size: 20px;
  z-index: 1000;
}

.reveal .copyright {
  left: 0px;
  width: 100%;
  text-align: center;
}

/*********************************************
 * ALERTS (taken from bootstrap)
 * Copyright (c) 2011-2014 Twitter, Inc
 *********************************************/

.reveal .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 24px;
}

.reveal .alert em {
  color: inherit;
  font-weight: bold;
}

.reveal .alert code {
  color: inherit;
}

.reveal .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.reveal .alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.reveal .alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.reveal .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

/** incusion de font-awesome avec reveal : cf https://github.com/FortAwesome/Font-Awesome/pull/2131 */
.reveal .fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

/** contournement bug chrome et ff qui affichent un fond noir lors du passage en fullscreen : cf https://github.com/hakimel/reveal.js/issues/1386#issuecomment-225379825 */
html:-webkit-full-screen-ancestor {
  background-color: inherit;
}

html {
  background-color: #fff !important;
}
