@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: "Architect's Daughter";
  src: url('fonts/ArchitectsDaughter/ArchitectsDaughter.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans Bold';
  src: url("fonts/Open_sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'OpenSans Regular';
  src: url("fonts/Open_sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Inconsolata';
  src: url("fonts/Inconsolata/Inconsolata-Regular.ttf") format("truetype");
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/

body {
  background: no-repeat center url('./logo-zenika.png');
  background-size: 60%;
  background-color: white;
}

.reveal {
  font-family: 'Arial', sans-serif;
  font-size: 28px;
  font-weight: normal;
  color: white;
}

.reveal .slides {
  text-align: left;
}

.reveal .slides section {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #222;
  padding: 0 70px;
}

.reveal .slides section:not([id]) {
  background: transparent;
}

.reveal .slides section[data-state="title"],
.reveal .slides section > section {
  background: #222;
  padding: 0 70px;
}

.reveal .slides section > section {
  margin-left: -70px;
}

.reveal.overview .slides section {
  height: 650px;
}

.reveal .slide-background {
  background-size: contain;
}

::selection {
  background: #b30c37;
  text-shadow: none;
}

.reveal .slides table, .reveal .slides table th, .reveal .slides table td {
  border: 1px solid #696969;
  border-collapse: collapse;
}

.reveal .slides table th, .reveal .slides table td {
  padding: 0px 10px;
}

.reveal .slides table {
  margin: 15px 0;
  box-shadow: none;
  border: 1px solid #b30c37;
  border-left: 5px solid #b30c37;
  border-collapse: collapse;
}
.reveal .slides table tr td {
  border: 1px solid #AAAAAA;
}
.reveal .slides table tr th {
  border: 1px solid #AAAAAA;
  border-bottom: 5px solid #b30c37;
/*  background-color: #AAAAAA;*/
  color : #000000;
}

.reveal .slides table.no-border,
.reveal .slides table.no-border tr td,
.reveal .slides table.no-border tr th {
  border: none;
}

/*********************************************
 * HEADERS
 *********************************************/

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  color: #b30c37;
  font-family: "OpenSans Bold", sans-serif;
  font-weight: bold;
  letter-spacing: 0.02em;
}

.reveal h1 {
  height: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  float: none;
  font-size: 60px;
}

.reveal h2,
.reveal h3 {
  margin: 0 -40px;
  padding: 40px 0 40px 20px;
  text-align: left;
  font-size: 40px;
}

/** Title's subtitle **/
.reveal section.title h2 {
  text-align: center;
  font-style: italic;
}

.reveal p.author {
  height: 20%;
  display: flex;
  align-items: center;
  font-size: 40px;
  justify-content: flex-end;
}

.reveal small {
  text-align: right;
}

/*********************************************
 * CONTENT
 *********************************************/

.reveal em {
  color: #b30c37;
  font-style: normal;
}

.reveal strong {
  color: #b30c37;
  font-style: italic;
  font-weight: normal;
}

.reveal li {
  margin: 0.8em 0 0 0;
}

.reveal ul ul, .reveal ul ol, .reveal ol ol, .reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal code {
  color: #b30c37;
}

.reveal blockquote p:first-child, .reveal blockquote p:last-child {
  display: block;
}

.reveal blockquote {
  font-style: italic;
  background: #555555;
  font-weight: normal;
}


/*********************************************
 * CODE
 *********************************************/

.reveal pre {
  margin: 15px 0;
  box-shadow: none;
  border: 1px solid #b30c37;
  border-left: 5px solid #b30c37;
  width:100%;
  white-space: pre-wrap;
}

.reveal h2 + pre,
.reveal h3 + pre { /* Whole-slide code block */
  border: none;
}

.reveal pre > code, .reveal .code {
  color: black;
  max-height: none;
  font-family: 'Inconsolata', monospace;
  font-size: 24px;
  line-height: normal;
}

/*********************************************
 * SPECIALS PAGES
 *********************************************/

/*.slides section:first-child::after {
    color: white;
    font-size: 13px;
    content: "VERSION";
    position: absolute;
    bottom: 5mm;
    right: 5mm;
}*/

.reveal section.page-title h1 {
  height: 90%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  color: white;
  float: none;
}

.reveal section.page-title ul {
  margin-top: 620px;
}

.reveal section.page-questions {
  background: white center center no-repeat url('./images/questions.svg');
  background-size: 60%;
}

.reveal section [class^="page-tp"]:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 80%;
}
.reveal section [class^="page-tp"] {
  background: white center center no-repeat url('./images/tp.svg');
  background-size: 60%;

}
.reveal section [class^="page-tp"]:after {
  display: block;
  color: #af1e3a;
  font-size: 50px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.reveal section.page-tp1:after {
  content: "Lab 1";
}
.reveal section.page-tp2:after {
  content: "Lab 2";
}
.reveal section.page-tp3:after {
  content: "Lab 3";
}
.reveal section.page-tp4:after {
  content: "Lab 4";
}
.reveal section.page-tp5:after {
  content: "Lab 5";
}
.reveal section.page-tp6:after {
  content: "Lab 6";
}
.reveal section.page-tp7:after {
  content: "Lab 7";
}
.reveal section.page-tp8:after {
  content: "Lab 8";
}
.reveal section.page-tp9:after {
  content: "Lab 9";
}
.reveal section.page-tp10:after {
  content: "Lab 10";
}
.reveal section.page-tp11:after {
  content: "Lab 11";
}
.reveal section.page-tp12:after {
  content: "Lab 12";
}
.reveal section.page-tp13:after {
  content: "Lab 13";
}
.reveal section.page-tp14:after {
  content: "Lab 14";
}
.reveal section.page-tp15:after {
  content: "Lab 15";
}
.reveal section.page-tp16:after {
  content: "Lab 16";
}
.reveal section.page-tp17:after {
  content: "Lab 17";
}
.reveal section.page-tp18:after {
  content: "Lab 18";
}
.reveal section.page-tp19:after {
  content: "Lab 19";
}
.reveal section.page-tp20:after {
  content: "Lab 20";
}
.reveal section.page-tp21:after {
  content: "Lab 21";
}
.reveal section.page-tp22:after {
  content: "Lab 22";
}
.reveal section.page-tp23:after {
  content: "Lab 23";
}
.reveal section.page-tp24:after {
  content: "Lab 24";
}
.reveal section.page-tp25:after {
  content: "Lab 25";
}
.reveal section.page-tp26:after {
  content: "Lab 26";
}
.reveal section.page-tp27:after {
  content: "Lab 27";
}
.reveal section.page-tp28:after {
  content: "Lab 28";
}
.reveal section.page-tp29:after {
  content: "Lab 29";
}
.reveal section.page-tp30:after {
  content: "Lab 30";
}

.reveal section.page-demo {
  background: transparent center center no-repeat url('./images/demo.png');
  background-size: 50%;
}

/*********************************************
 * LINKS
 *********************************************/

.reveal a:not(.image) {
  text-decoration: none;
}

.reveal div:not(.slide-number) a:not(.image) {
  color: rgb(81,155,200);
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;
}

.reveal a:not(.image):hover {
  color: #b30c37;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: white;
  background: #b30c37;
}

.reveal .slides .toc a {
  color: inherit;
}

/*****************
 * SLIDES NUMBERS
 *****************/

 .reveal .slide-number {
  font-size: 18pt;
  color: #940b0b; 
  left: 8px;
  background-color: transparent;
  text-decoration: none;
}

/*********************************************
 * IMAGES
 *********************************************/

.reveal section img {
  display: block;
  margin: 30px auto;
}

.reveal section img.with-border {
  border: 1px solid black;
}

.reveal section img #questions {
  margin-top: 100px;
}

.reveal figcaption {
  text-align: center;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

.reveal .controls .enabled {
  color: #b30c37;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  height: 1%;
}

.reveal .progress span {
  background: #b30c37;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * FOOTER (style copied from reveal.css -> .reveal .slide-number)
 *********************************************/

.reveal footer, .reveal .slides footer {
  position: absolute;
  bottom: 15px;
  font-size: 12px;
  opacity: 0.5;
}

.reveal .master-toc-return {
  left: 15px;
  bottom: 15px;
  font-size: 20px;
  z-index: 1000;
}

.reveal .copyright {
  left: 0px;
  width: 100%;
  text-align: center;
}

/*********************************************
 * ALERTS (taken from bootstrap)
 * Copyright (c) 2011-2014 Twitter, Inc
 *********************************************/

.reveal .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 24px;
}

.reveal .alert em {
  color: inherit;
  font-weight: bold;
}

.reveal .alert code {
  color: inherit;
}

.reveal .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.reveal .alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.reveal .alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.reveal .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

/** incusion de font-awesome avec reveal : cf https://github.com/FortAwesome/Font-Awesome/pull/2131 */
.reveal .fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

/** contournement bug chrome et ff qui affichent un fond noir lors du passage en fullscreen : cf https://github.com/hakimel/reveal.js/issues/1386#issuecomment-225379825 */
html:-webkit-full-screen-ancestor {
  background-color: inherit;
}

html {
  background-color: #fff !important;
}
